.gradle/
.idea/
build/
gradle/
gradlew.bat
settings.gradle
../github
/.idea/
/src/test/resources/config/Browserstack.properties
/src/test/resources/config/CredentialsConfig.properties
/src/test/resources/config/LocalDriver.properties
/citilink_app.iml
